<%- include('header.ejs') %>
    <div id="login">
        <h1>Fail!</h1>
        <h2>
            You may <a href="/">read all Post</a> or <a href="JavaScript:window.history.back()">go back</a> !
        </h2>
    </div>
    <%- include('footer.ejs') %>