<%- include('header.ejs') %>
    <div id="login">
        <h1>Success!</h1>
        <h2>
            You may <a href="/">read all Post</a> / <a href="/login">login</a> again !
        </h2>
    </div>
    <%- include('footer.ejs') %>